# Python
.venv
*.pyc
*.pyo
__pycache__/
*.egg-info/
dist/
build/

# Environment variables
.env
.env.local

# Logs
logs/
*.log

# Node modules
node_modules/

# IDE
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# OS
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.sln
*.sw?
