{% extends "eventos/base.html" %}

{% block content %}
<div class="form-card">
    <h2 class="form-title delete-title">Excluir Categoria</h2>
    <p class="confirm-text" >
        Tem certeza que deseja excluir "<strong>{{ object.name }}</strong>"?
    </p>

    <div style="text-align:center; margin-top:10px;" class="confirm-btn-container">
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="save-btn">Confirmar</button>
            <a href="{% url 'category_list' %}" class="back-btn">Cancelar</a>
        </form>

        
    </div>
</div>
{% endblock %}