{% extends "eventos/base.html" %}
{% block title %}Categorias{% endblock %}
{% block content %}
<h2 style="text-align:center; margin-bottom:20px;">Lista de Categorias</h2>

<!-- Botão Nova Categoria com mesma classe de estilo do Novo Evento -->
{%if user.is_superuser%}
<div class="main-button-container">
  <a href="{% url 'category_create' %}" class="button main-button">Nova Categoria</a>
</div>
{% endif %}

<table class="table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      {%if user.is_superuser%}
      <th>Ações</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for category in categories %}
    <tr>
      <td>{{ category.name }}</td>
      {%if user.is_superuser%}
        <td>
          <a href="{% url 'category_edit' category.pk %}" class="edit-btn">Editar</a> |
          <a href="{% url 'category_delete' category.pk %}" class="delete-btn">Excluir</a>
        </td>
      {% endif %}
    </tr>
    {% empty %}
    <tr>
      <td colspan="2" style="text-align:center;">Nenhuma categoria cadastrada.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}