{% extends "eventos/base.html" %}
{% block title %}Categorias{% endblock %}
{% block content %}
<h2>Lista de Categorias</h2>

{%if user.is_superuser%}
<a class="button" href="{% url 'category_create' %}">Nova Categoria</a>
{%endif%}
<table>
  <tr>
    <th>Nome</th>
    {%if user.is_superuser%}
    <th>Ações</th>
    {%endif%}
  </tr>
  {% for category in categories %}
  <tr>
    <td>{{ category.name }}</td>
    {%if user.is_superuser%}
    <td>
      <a href="{% url 'category_edit' category.pk %}">Editar</a> |
      <a href="{% url 'category_delete' category.pk %}">Excluir</a>
    </td>
    {%endif%}
  </tr>
  {% empty %}
  <tr><td colspan="2">Nenhuma categoria cadastrada.</td></tr>
  {% endfor %}
</table>
{% endblock %}
