{% extends "eventos/base.html" %}
{% block content %}
<div class="form-card">
  <h2 class="form-title">{% if object %}Editar{% else %}Novo{% endif %} Evento</h2>

  <form method="post" class="form-container">
    {% csrf_token %}
    {{ form.as_p }}

    <div style="text-align:center; margin-top:10px;" class="confirm-btn-container">
      <!-- Botão Salvar: hover verde, efeito pressionado -->
      <button type="submit" class="save-btn">Salvar</button>

      <!-- Botão Voltar: hover laranja, efeito pressionado -->
      <a href="{% url 'event_list' %}" class="back-btn">Voltar</a>
    </div>
  </form>
</div>
{% endblock %}