{% extends "eventos/base.html" %}

{% block content %}
<div class="form-card">
    <h2 class="form-title delete-title">Cancelar Inscrição</h2>
    <p class="confirm-text">
        Tem certeza que deseja cancelar sua inscrição no evento "<strong>{{ object.events.title }}</strong>"?
    </p>

    <div class="confirm-btn-container">
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="save-btn">Confirmar Cancelamento</button>
        </form>

        <a href="{% url 'subscribe_list' %}" class="back-btn">Voltar</a>
    </div>
</div>
{% endblock %}