{% extends "eventos/base.html" %}
{% block content %}
<div class="form-card">
  <h2 class="form-title">Inscrever-se em um Evento</h2>

  <form method="post" class="form-container">
    {% csrf_token %}
    {{ form.as_p }}

    <div class="confirm-btn-container">
      <!-- Botão Confirmar: hover verde, efeito pressionado -->
      <button type="submit" class="save-btn">Confirmar</button>

      <!-- Botão Voltar: hover laranja, efeito pressionado -->
      <a href="{% url 'subscribe_list' %}" class="back-btn">Voltar</a>
    </div>
  </form>
</div>
{% endblock %}