{% extends "eventos/base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="form-card">
    <h2 class="form-title">Entrar</h2>

    <form method="post" class="form-container">
        {% csrf_token %}
        {{ form.as_p }}

        <!-- Botão centralizado -->
        <div style="text-align: center; margin-top: 10px;">
            <button type="submit" class="save-btn">Entrar</button>
        </div>
    </form>

    <!-- Link para cadastro -->
    <p style="text-align:center; margin-top:10px;">
        Ainda não tem conta? <a href="{% url 'signup' %}" class="title-link">Cadastre-se aqui</a>.
    </p>
</div>
{% endblock %}
