{% extends "eventos/base.html" %}
{% block title %}Cadastro{% endblock %}

{% block content %}
<div class="form-card">
    <h2 class="form-title">Criar Conta</h2>

    <form method="post" class="form-container">
        {% csrf_token %}
        {{ form.as_p }}

        <!-- Botão centralizado -->
        <div style="text-align: center; margin-top: 10px;">
            <button type="submit" class="save-btn">Cadastrar</button>
        </div>
    </form>

    <p style="text-align:center; margin-top:10px;">
        Já possui conta? <a class="title-link" href="{% url 'login' %}">Cadastrar</a>
    </p>
</div>
{% endblock %}
